   /* global setting */
* {
        margin: 0;
        padding: 0;
        font-weight: 400;
        box-sizing: border-box;
    
    }

    /* navbar links*/

.navbar {
        display: flex;
        justify-content:  space-between;
        background-color:rgb(16, 151, 46);
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
    }

.navbar a {
        font-family:'Monoton', cursive;  
        font-size: 1.5em;
        padding: 10px 20px;
        color: black;
        text-decoration: none;
      }

.navbar a:hover {
        background-color: rgb(21, 202, 45);
       
      }

.avatar {
        
        width: 30px;
        margin-left: 10px;

      }
.left{
    align-self: center;
}


/* background page and heading*/

.content{
        background-image:linear-gradient(to top, rgb(255, 255, 255), rgba(46, 38, 43, 0.73)), url("/images/cassette.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 75vh;
    }

.content img{
        width: 5%;
    }

h1{
        display: block;
        font-family:'Monoton', cursive;  
        font-size: 9em;
        text-align: center;
        padding-top: 100px;
        color: black;
    }

h2{
        background-color:rgb(16, 151, 46);
        font-family:'Monoton', cursive;  
        font-size: 2em;
        text-align: center;
        margin-bottom: 10px;
      }

.piccenter{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
}
  /*main content*/
.flex-container {
        display: flex;

}

.flex-container > div {
       
        width: 50%;
        margin: 40px;
        text-align:left;
        justify-content: center;
  }

.container{
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        justify-content: center;
        margin-left: 40px;  
        margin-bottom: 40px;
        
  }
.container2{
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: flex-end;
        margin-left: 40px;  
        margin-bottom: 40px;
    
}

.leftmargin{
        margin-left: 120px;
}

.picture{
  
        height: 100%;
        background-color:rgb(16, 151, 46);
  }
  /*footer */
  
footer{
        background-color:rgb(16, 151, 46);
        width: 100%;
        height: 40px;
        padding-top: 5px;
    }

:target{
        background-color: lightgray;
    }

/* mobile devices*/
@media only screen and (max-width: 600px) {
    
.navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color:rgb(16, 151, 46);
        position: fixed;
        top: 0;
    
}
.navbar a {
    font-family:'Monoton', cursive;  
    font-size: 1em;
    padding: 15px 10px;
    color: black;
    text-decoration: none;
  }
  .avatar {
    width: 40px;
  }
  h1{
    font-size: 5em;
    padding-top: 100px;
    text-align: center;
   }
   .content img{
    width: 15%;
}
.flex-container {
    display: flex;
    flex-direction: column;

}
.flex-container > div {
       
    width: 100%;
    margin: 10px 10px;
    text-align:left;
}
.container{
    
    flex-direction: column;
    width: 100%;
    
    margin: 10px 10px;
    
}
.container2{
    
    flex-direction: column;
    width: 100%;
    margin: 10px 10px;
    

}

.leftmargin{
    margin-left: 4px;
}
.picture{
  
    height: 100%;
    background-color:rgb(16, 151, 46);
}
.piccenter{
    display: inline;
    margin-left: 210px;
   
}
 
}