
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;

}
/* navbar links */
.avatar {
    
    text-align: center;
    width: 50px;
    padding-top: 3px;
    
  }

.linkright{
    float: right;
    
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color:#FFA500;
    position: fixed;
    top: 0;
    width: 100%;
    
  }
  
li {
    float: left;
  }
  
li a {
    font-family:'Monoton', cursive;  
    font-size: 1.5em;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

li a:hover {
    background-color:#FF8C00;
  }
  /*main content and background picture*/

.content{
    background-image:linear-gradient(to top, rgb(255, 255, 255), rgba(46, 38, 43, 0.73)), url("../images/cassette.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
  }
 
 
.content img{
    width: 5%;
  }
  
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
 

h1{
    display: block;
    font-family:'Monoton', cursive;  
    font-size: 9em;
    text-align: center;
    padding-top: 100px;
    color: black;
    
  }
  
h2{
    background-color:#FFA500;
    font-family:'Monoton', cursive;  
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
  }

.box {
    float: left;
    width: 33.33%;
    padding: 50px;
  }
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  /*footer content*/

footer{
    background-color:#FFA500;
    width: 100%;
    height: 40px;
    padding-top: 5px;
  }
 
  
.middle{
    width: 100%;
    padding: 50px;
    
  }

.floatright img {
    float: right;
    width: 10%;
    margin-left: 20px;
    background-color: orange;
    
  }

.floatleft img{
    float: left;
    width: 10%;
    margin-right: 20px;
    background-color: orange;
  }
:target{
    background-color: lightgray;
}

/*mobile devices*/

@media only screen and (max-width: 600px) {
    
  .avatar {
    width: 40px;
  }
ul {
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
        
      }
li a {
          
    font-size: 1em;
    display: block;
      }

h1{
    font-size: 5em;
    padding-top: 100px;
    text-align: center;
   }

   .content img{
    width: 15%;
}

.box {
    float: none;
    width: 100%;
    padding: 20px;
  }
  .floatright img {
    
    float: right;
    width: 30%;
    margin-bottom: 10px;
  }

  .floatleft img{
    float: left;
    width: 30%;
    margin-bottom:10px;
    
}

.middle{
    width: 100%;
    padding: 20px;
    
}
 .center{
    display: inline;
    margin-left: 200px;
  }

}

